[app_servers]
tasknotifier ansible_host=INSTANCE_IP_PLACEHOLDER ansible_user=ubuntu ansible_ssh_private_key_file=SSH_KEY_PATH_PLACEHOLDER ansible_python_interpreter=/usr/bin/python3 ansible_ssh_common_args='-o StrictHostKeyChecking=no'
